* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100vh;
}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 1fr));
}

.one {
	background-color: #3b82f6;
}

.two {
	background-color: #2563eb;
}

.three {
	background-color: #1d4ed8;
}

.four {
	background-color: #1e40af;
}

.five {
	background-color: #1e3a8a;
}

.six {
	background-color: #1e366b;
}

.grid-item {
	display: grid;
	place-items: center;
	color: white;
	font-weight: 500;
	width: 100%;
	height: 100%;
}
