* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	--primary-color: #2563eb;
	--primary-color-light: #93c5fd;
	--primary-color-dark: #1e3a8a;
	--dark-color: #292524;
	--white-color: #fafafa;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--white-color);
	display: grid;
	grid-auto-flow: column;
	place-items: center;
	gap: 20px;
}

.container {
	display: grid;
	border: 2px solid var(--primary-color);
	width: 250px;
	height: 250px;
	padding: 10px;
	gap: 10px;
}

.son {
	border: 1px solid var(--primary-color-dark);
}

.container-son {
	border: 2px solid var(--primary-color-dark);
	width: auto;
	height: auto;
}
